<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.oj.mapper.SysSubmissionMapper">

    <resultMap id="BaseResultMap" type="com.example.oj.domain.SysSubmission">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="problemId" column="problem_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="submitTime" column="submit_time" jdbcType="TIMESTAMP"/>
        <result property="runTime" column="run_time" jdbcType="INTEGER"/>
        <result property="runMemory" column="run_memory" jdbcType="INTEGER"/>
        <result property="input" column="input" jdbcType="VARCHAR"/>
        <result property="output" column="output" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
        <result property="caseNumber" column="case_number" jdbcType="INTEGER"/>
        <result property="acNumber" column="ac_number" jdbcType="INTEGER"/>
        <result property="languageId" column="language_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,problem_id,user_id,
        code,submit_time,run_time,
        run_memory,input,output,
        status,gmt_create,gmt_modified,
        case_number,ac_number
    </sql>
</mapper>
